
app==0.0.1
argh==0.26.2

click==7.1.2
cycler==0.10.0
DateTime==4.3
decorator==4.4.2
Flask==1.1.2
Flask-Images==3.0.2
Flask-Resize==2.0.4
Flask-SQLAlchemy==2.4.4
imageio==2.9.0

itsdangerous==1.1.0
Jinja2==2.11.2
kiwisolver==1.2.0
livereload==2.6.3
MarkupSafe==1.1.1
matplotlib==3.3.2

numpy==1.19.2
opencv-contrib-python==4.4.0.44

opencv-python-headless==4.4.0.44

pilkit==2.0
Pillow==7.2.0
pillowcase==2.0.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2020.1
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.2

Werkzeug==1.0.1
zope.interface==5.1.0