<div id="inputForm">
    <form class = "form-inline" form name =inputForm action ="{{ url_for('shnGetCamImg') }}" method="POST"> 
        
        <div class = "row">
            <div class = "col">	
                
                <div class = "form-group">
                    <p><label for="cameraIP">Camera IP Address:</label></p>
                    <div class= "col col-lg-2">
                        <p><input type="text" id="cameraIP" name="cameraIP" value="{{cIP}}" placeholder="{{cIP}}" ></p>
                    </div>
                </div>

                <div class = "form-group">
                    <p><label for="imageArea">Enter Image Area:</label></p>
                    <div class= "col col-lg-2">
                        <p><input type="number" id="imageArea" name="imageArea" value={{iArea}} placeholder="{{iArea}}" ></p>
                    </div>
                </div>

                <div class = "form-group">
                    <p><label for="imgRotAng">Enter Image Rotation:</label></p>
                    <div class =" col col-lg-2">
                        <p><input type="number" id="imgRotAng" name="imgRotAng" value={{cAng}} placeholder="{{cAng}}" ></p>
                    </div>
                </div>

                <div class = "form-group">
                    <p><label for="imgRotRoi_window">Enter ROI Window:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="text" id="imgRotRoi_window" name="imgRotRoi_window" value={{cROI}} placeholder="{{cROI}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for='imgRotPerspect'>Enter Image Perspective:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type='bool' id='imgRotPerspect' name='imgRotPerspect'value={{cPer}} placeholder="{{cPer}}"></p>
                     </div>
                </div>

            </div>

            <div class = "col">

                <div class = "form-group">
                    <p><label for='imgPntsTransform'>Enter Image Transform:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type='text' id='imgPntsTransform' name='imgPntsTransform' placeholder="{{iPnts}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for='countNum'>Enter Counting Numbers:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type='text' id='countNum' name='countNum'value={{cCnt}} placeholder="{{cCnt}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for='detectBoxLim'>Enter Detecting Box Limit:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type='text' id='detectBoxLim' name='detectBoxLim'value={{cBox}} placeholder="{{cBox}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for='detectFCNThresh'>Enter Detecting FCN Thresh:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type='float' id='detectFCNThresh' name='detectFCNThresh'value={{cFCN}} placeholder="{{cFCN}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for='detectFCNthreshold'>Enter Detecting FCN Threshold:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type='float' id='detectFCNthreshold' name='detectFCNthreshold'value={{ctHold}} placeholder="{{ctHold}}"></p>
                     </div>
                </div>


            <!-- THIS IS THE FINAL LINE BEFORE ENDING THE COLUMN  -->
            </div>
            <!-- START A NEW COLUMN-->
            <div class = "col">
                
                <div class = "form-group">
                    <p><label for="startX_Coord">Enter Starting X:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="number" id="startX_Coord" name="startX_Coord" placeholder="{{start_X}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for="startY_Coord">Enter Starting Y:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="number" id="startY_Coord" name="startY_Coord" placeholder="{{start_Y}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for="width_Coord">Enter Width:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="number" id="width_Coord" name="width_Coord" placeholder="{{width_XY}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for="height_Coord">Enter Height:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="number" id="height_Coord" name="height_Coord" placeholder="{{height_XY}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for="pnt1Transform">Enter Point 1 For Transform:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="text" id="pnt1Transform" name="pnt1Transform" placeholder="{{pnt1}}"></p>
                     </div>
                </div>

            </div>
            <div class = "col">

                <div class = "form-group">
                    <p><label for="pnt2Transform">Enter Point 2 For Transform:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="text" id="pnt2Transform" name="pnt2Transform" placeholder="{{pnt2}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for="pnt3Transform">Enter Point 3 For Transform:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="text" id="pnt3Transform" name="pnt3Transform" placeholder="{{pnt3}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for="pnt4Transform">Enter Point 4 For Transform:</label></p>
                     <div class="col col-lg-2" >
                         <p><input type="text" id="pnt4Transform" name="pnt4Transform" placeholder="{{pnt4}}"></p>
                     </div>
                </div>

                <div class = "form-group">
                    <p><label for="picOptions">Choose a Picture From This List:</label></label></p>
                     <div class="col col-lg-2" >
                         
                         <p><input list="options" id="picOptions" name="picOptions" placeholder="{{pic_type}}"/></p>
                             
                             <datalist id="options">
                                <option value="Original Image">
                                <option value="Cropped Image">
                                <option value="Transformed Image">
                                <option value="Final Image">
                            </datalist>
                            
                     </div>
                </div>

                <div>
                    <input type='submit' value='Submit'> 
                </div>
                
            </div>

            
        </div>
    </form>
</div>