<!DOCTYPE html>
<html>

<head>

	<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<h2>Input Page</h2>
</head>
<!-- <style>
* {
  box-sizing: border-box;
}


/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding-left: 1000px;
  height: 500px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style> -->

<style>

body{
	background-color: grey;
	margin-left: 50px;
}

h2{
	font-size: 50px;
}

</style>



<body>

	{% include 'indexForm.html'%}

</body>
</html>